body {
    background-color: #FFEAFE;
}

.primary-button {
    color: #AB1D79;
}

.navbar {
    background-color: #E4CBE9;
    align-items: stretch;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-padding {
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand img {
    height: 70px;
    width: auto;
}

.navbar-collapse {
    align-items: center;
}

.navbar-nav {
    gap: 0;
}

.navbar-nav .nav-link {
    padding: 0.75rem 0;
}


.navbar>.container-xl {
    align-items: stretch;
}


/* Desktop only */
@media (min-width: 992px) {
    .navbar-nav {
        gap: 1.75rem;
        align-items: center;
    }

    .navbar {
        min-height: 120px;
    }

    .navbar-brand img {
        height: 100px;
    }

    .navbar-nav .nav-link {
        padding: 0;
    }

    .navbar-nav.me-auto {
        margin-right: 5rem;
    }

    .navbar-nav.ms-auto {
        margin-left: 5rem;
    }
}